<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodorder.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.foodorder.services.UpdateOrderStatus"
            android:enabled="true" />

        <activity
            android:name="com.foodorder.view.WelComeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.foodorder.view.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.EditUserInfoActivity"
            android:label="@string/title_activity_edit_user"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.RestListActivity"
            android:label="@string/title_activity_rest_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.MenuListActivity"
            android:label="@string/title_activity_menu_list"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.ShoppingCartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_shopping_cart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.OrderConfirmActivity"
            android:label="@string/title_activity_confirm"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.AddBalanceActivity"
            android:label="@string/title_activity_add_balance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.foodorder.view.EditUserActivity"
            android:label="@string/title_activity_edit_user"
            android:screenOrientation="portrait" >
        </activity>

        
        <activity
            android:name="com.foodorder.view.OrderDetail"
            android:screenOrientation="portrait" 
            android:label="@string/title_activity_order_detail">
        </activity>
    </application>

</manifest>
