<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foodorder.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.WelComeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.RestListActivity"
            android:label="@string/title_activity_rest_list" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.MenuListActivity"
            android:label="@string/title_activity_menu_list" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.OrderConfirmActivity"
            android:label="@string/title_activity_confirm" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.AddBalanceActivity"
            android:label="@string/title_activity_add_balance" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.foodorder.view.EditUserActivity"
            android:label="@string/title_activity_edit_user" >
        </activity>
    </application>

</manifest>
